.generic-style button {
  width: 20rem;
  height: 2.5rem;
  border: none;

  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
}

.btn-default {
  background: #ed145b;
  color: #ddd;
  border-left: 4px solid #450ddf;
}

.btn-default:hover {
  background-color: #cf1150;
  color: #c1c1c1;
}

.btn-primary {
  background: #13bde7;
  color: #0f0b0b;
  border-left: 3px solid #3819a8;
}
.btn-primary:hover {
  background: #46cef0;
  color: rgb(19, 11, 11);
}

.btn-secondary {
  background: #910dc5;
  color: #0f0b0b;
  border-left: 3px solid #f32a6d;
}

.btn-secondary:hover {
  background: #bf63e4;
  color: #fff;
}
